:root {
    --navFont: 20px;
    --panelsFont: 16px;
    --baseBg: rgba(0, 0, 0, 0.7);
    --baseGray: rgba(108, 108, 108, 0.7);
    --breatheColor: rgb(84, 212, 216);
}

form {
    margin: 0;
    padding: 0;
}

.game-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 1;
}

.title {
    margin: 1em .5em .5em .5em;
    font-size: 24px;
}

.item-plus {
    width: 2em;
}

.click-diamond {
    width: 60px;
    height: 60px;
    position: absolute;
    filter: drop-shadow(0px 0px 5px lightblue);
    z-index: 3;
}



/*
|
|
    =====> NAVBAR CONTAINER =====>
|
|
*/

.navbar-container {
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    background-color: var(--baseBg);
}

.navbar-left {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.navbar-right {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.navbar-right > *, .navbar-left > *, .navbar-burger > * {
    font-size: var(--navFont);
    padding: 0.5em;
}

.navbar-right > form > button {
    font-size: var(--navFont);
    margin: 0;
    padding: 10px;
    width: 100%;
    background-color: var(--baseGray);
    border: none;
    border-radius: 15px;
}

.navbar-logo {
    width: 4em;
    padding: 1em;
    transform: scale(150%);
}

.navbar-profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: rgba(108, 108, 108, 1.0);
    border-radius: 15px; */
}

.navbar-profile-container > div {
    margin: .2em 1em;
}

.navbar-profile-logo {
    /* margin: 0 auto; */
    width: 2em;
}

.navbar-profile-nickname {
    justify-content: center;
    align-items: center;
}

.navbar-bell-container {
    position: relative;
    display: flex;
    flex-direction: row;
}

.navbar-bell {
    width: 2.5em;
    height: 2.5em;
}

.navbar-bell-notification {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    left: 55%;
    background-color: red;
    font-size: 14px;
    border-radius: 100%;
}

.navbar-settings {
    width: 33%;
    min-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: rgba(108, 108, 108, 1.0);
    border-radius: 15px;
    z-index: 2;
}

.navbar-settings > div {
    text-align: left;
}

.navbar-settings-relative {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}

.navbar-settings-title {
    font-size: 18px;
    width: 100%;
}

.navbar-settings-close {
    padding: .3em;
    width: 1em;
    position: absolute;
    background-color: rgba(223, 0, 0, 0.7);
    border-radius: 100%;
}

.navbar-settings-close:hover {
    background-color: rgba(255, 0, 0, 0.7);
}


.navbar-settings > div {
    padding: 1em;
}

.navbar-settings-toggle {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

/*dzyngiel do ustawień*/

.option {
    margin: 1em;
    font-size: 18px;
}

.switch {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    left: -101vw;
  }
  
  .switch + label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .switch + label::before {
    content: "";
    width: 2em;
    height: 1em;
    background-color: #2E2D4D;
    border-radius: 1em;
    margin-right: .25em;
    transition: 200ms ease-in-out;
  }
  
  .switch:checked + label::before {
    background-color: #ccc;
  }
  
  .switch + label::after {
    position: absolute;
    content: "";
    left: 1em;
    width: .9em;
    height: .9em;
    background-color: white;
    border-radius: 1em;
    margin-right: .25em;
    transition: 200ms ease-in-out;
  }
  
  .switch:checked + label::after {
    left: .1em;
  }


.navbar-burger {
    display: none;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.navbar-burger > div {
    display: flex;
    padding: calc(.5em + 10px);
    justify-content: right;
    align-items: center;
}

.notifications-container {
    min-height: 400px;
    min-width: 300px;
    padding: .5em;
    position: absolute;
    top: 100%;
    left: -175%;
    background-color: rgba(108, 108, 108, 1.0);
    border-radius: 15px;
    z-index: 2;
}

.notifications-title {
    font-size: 14px;
    border-bottom: 1px solid rgba(200, 200, 200, 1.0);
}

.notifications-messages {
    font-size: 14px;
}

.notifications-message {
    display: flex;
    padding: .5em;
    background-color: rgba(108, 108, 108, 1.0);
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(150, 150, 150);
}
.notifications-message-action {
    width: 1.2em;
    height: 1.2em;
    margin: .2em;
    padding: .5em;
    background-color: rgb(124, 124, 124);
    border-radius: 100%;
}


/*
|
|
    =====> MAIN CONTAINER =====>
|
|
*/

.main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}

.main-left, .main-right {
    width: 50%;
}

.main-left {
    background-color: var(--baseBg);
}

.main-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.7) 67%, var(--baseBg) 100%);
}


/*
|
|
    =====> MAIN CONTAINER =====> MAIN-LEFT =====>
|
|
*/

.drawer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.drawer-element {
    flex: 1;
    display: flex;
    padding: 2%;
    justify-content: center;
}

.drawer-element:hover {
    filter: drop-shadow(0px 0px 15px #d9d9d9);
}

.drawer-icon {
    width: 50%;
    max-width: 2em;
    min-width: 15px;
}


.main-content-container {
    display: flex;
    flex-direction: column;
}

.money-display {
    margin: .5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.money-container {
    margin: 0 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
}

.money-logo {
    width: 25px;
    max-width: 2em;
    min-width: 20px;
    margin: 0 0.5em;
}

/* universal container for all of drawer options */
.menu-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--navFont);
}

/* ===== STORE ===== */

.store-items-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.store-item {
    margin: .5em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--baseGray);
    border-radius: 15px;
    font-size: var(--panelsFont);
}

.store-item:hover {
    background: linear-gradient(90deg, var(--baseGray) 0%, rgba(184,184,184,0.7) 100%);
}

.store-item-lock {
    margin: .5em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(50, 50, 50, 0.7);
    border-radius: 15px;
    font-size: var(--panelsFont);
}

.store-item-container-left {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.store-item-img {
    width: 4em;
    margin-right: 2em;
}

.store-item-cost-desc {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.store-item-lv {
    position: absolute;
    top: 65%;
    text-shadow: 0px 0px 5px black;
}

.store-item-desc {
    display: flex;
}


/* ===== SHIP ===== */

.ship-items-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.ship-item {
    margin: .5em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(90, 108, 165, 0.7);
    background-size: 200% 200%;
    border-radius: 15px;
    font-size: var(--panelsFont);
}

.ship-item:hover {
    background: linear-gradient(90deg, rgba(90,108,165,0.7) 0%, rgba(116,147,246,0.7) 100%);
}

.ship-item-container-left {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.ship-item-container-left > * {
    margin: 0 1.5em 0 0;
}

.ship-item-container-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.ship-item-img {
    width: 4em;
    margin-right: 2.5em;
}

.ship-item-lv {
    position: absolute;
    top: 65%;
    text-shadow: 0px 0px 5px black;
}


/* ===== STATS ===== */

.stats-items-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.stats-item {
    margin: .5em;
    padding: .5em .8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--baseGray);
    border-radius: 15px;
    font-size: var(--panelsFont);
}


/* ===== GUILD ===== */

.guild-container {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
}

.guild-chat {
    min-height: 300px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.guild-message {
    margin-top: 2px;
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: rgba(63, 63, 63, 0.7);
}

.guild-message:first-child {
    margin-top: 0;
}

.guild-message-sent {
    display: flex;
    flex-direction: row;
}

.guild-message-upper {
    display: flex;
    justify-content: center;
}

.guild-user {
    flex: 1;
    margin: .2em 1em .2em .2em;
    font-size: var(--panelsFont);
    text-align: left;
}

.guild-sent {
    margin: .2em;
    text-align: left;
    font-size: 14px;
    color: rgb(190, 190, 190);
    overflow-wrap: break-word;
    word-break: break-all;
}

.sent-date {
    flex: 1;
    margin: .5em;
    text-align: right;
    font-size: 11px;
    color: rgb(170, 170, 170);
}

.guild-input-container {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
}

.guild-input-container > form {
    display: flex;
    flex-direction: row;
}

.guild-chat-input {
    flex: 1;
    width: auto;
    margin: 0 2px 0 0;
    background-color: rgba(63, 63, 63, 0.7);
}

.guild-chat-btn {
    padding: 1em;
    background-color: rgba(63, 63, 63, 0.7);
    border: none;
}


/* ===== WHEEL ===== */

.wheel-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wheel-small-container {
    display: flex;
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0px auto 0px auto;
    justify-content: center;
    align-items: center;
  }
  
  .wheel-small-container .spinBtn {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.1em;
    border: 4px solid rgba(0,0,0,0.75);
    cursor: pointer;
    user-select: none;
  }
  
  .wheel-small-container .spinBtn::before {
    content: '';
    position: absolute;
    top:-28px;
    width: 20px;
    height: 30px;
    background: #fff;
    clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
  }
  
  .wheel-small-container .wheel {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 50%;
    height: 50%;
    background: #333;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #333,
    0 0 0 15px #fff,
    0 0 0 18px #111;
    /* transition: transform 5s ease-in-out; */
  }
  
  .wheel {
    display: flex;
    margin: auto;
  }
  
  .wheel-small-container .wheel .number {
    display: flex;
    position: absolute;
    width: 50%;
    height: 50%;
    background: var(--clr);
    transform-origin: bottom right;
    transform: rotate(calc(45deg * var(--i)));
    clip-path: polygon(0 0, 56% 0, 100% 100%, 0 56%);
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }
  
  .wheel-small-container .wheel .number .wheel > span {
    position: relative;
    transform: rotate(45deg);
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    text-shadow: 3px 5px 2px rgba(0,0,0,0.15);
  }
  
  .wheel-small-container .wheel .number .wheel > span::after {
    content: '$';
    position: absolute;
  
    font-weight: 500;
  }


/*
|
|
    =====> MAIN CONTAINER =====> MAIN-RIGHT =====>
|
|
*/

.main-planet {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-wrap: wrap;
    min-width: 0px;
}

.planet-state {
    font-size: 18px;
}

.planet-level {
    font-size: 30px;
}

.planet-img {
    position: relative;
    width: 33%;
    margin: 1em;
    animation: 3s movement ease-in-out infinite, 4s breathe ease-in-out infinite;
    /* filter: drop-shadow(0px 0px 10px rgb(84, 212, 216)); */
}

@keyframes breathe {
    0% {filter: drop-shadow(0px 0px 2px var(--breatheColor));}
    50% {filter: drop-shadow(0px 0px 10px var(--breatheColor));}
    100% {filter: drop-shadow(0px 0px 2px var(--breatheColor));}
}

@keyframes movement {
    0% {transform: translateY(0);}
    50% {transform: translateY(2%);}
    100% {transform: translateY(0);}
}

.planet-damage-display {
    position: absolute;
    font-size: 18px;
    color: rgba(214, 0, 0, 1.0);
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    animation: damageAnimation 1.5s ease-in-out;
    z-index: 2;
    pointer-events: none;
}

.planet-critdamage-display {
    position: absolute;
    font-size: 26px;
    color: rgb(255, 198, 76);
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    animation: critDamageAnimation 1.5s ease-in-out;
    z-index: 2;
    pointer-events: none;
  }

@keyframes damageAnimation {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
  
    50% {
        opacity: 0.7;
        transform: translateY(-30px);
    }
  
    100% {
        opacity: 0;
        transform: translateY(-60px);
    }
}
  
  @keyframes critDamageAnimation {
    from {
        opacity: 1;
        transform: translateY(0);
        transform: translateX(0);
    }
  
    2%, 14% {
      transform: translateX(-10px);
    }
  
    5%, 11%, 17% {
      transform: translateX(0);
    }
  
    8% {
      transform: translateX(10px);
    }
  
    50% {
        opacity: 0.7;
        transform: translateY(-30px);
    }
  
    to {
        opacity: 0;
        transform: translateY(-60px);
    }
}

.planet-hit-svg {
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgb(255,0,0);
    background: radial-gradient(circle, rgba(212, 113, 0, 1.0) 0%, rgba(223, 26, 0, 0.7) 30%, rgba(255,0,0,0.0) 50%,rgba(184,184,184,0.0) 100%);
    z-index: 2;
    pointer-events: none;
    animation: hitSvgAnimation 0.7s ease-in-out;
}

@keyframes hitSvgAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.advance-arrow-left, .advance-arrow-right {
    position: absolute;
    top: 45%;
}

.advance-arrow-left {
    left: 10%;
}

.advance-arrow-right {
    right: 10%;
}

.skip-arrow {
    width: .8em;
    height: .8em;
    padding: 1em;
}

.planet-health-text {
    font-size: var(--panelsFont);
}

.planet-health-container {
    padding: .3em;
    display: flex;
    justify-content: center;
}

.planet-health-under {
    width: 60%;
    height: .8em;
    background: linear-gradient(90deg, rgb(22, 24, 29) 0%, rgb(28, 35, 53) 100%);
    border-radius: 15px;
}

.planet-health {
    width: 10%;
    height: inherit;
    background: linear-gradient(90deg, #97ff9f 0%, rgb(0, 255, 13) 100%);
    border-radius: inherit;
    transition: width 0.3s;
}

.spacer-div {
    margin: 5%;
}

/* .planet-img:active {
    transform: scale(80%);
} */


/*
!
!   =====                 =====                 ===== >
    =====  MEDIA QUERIES  =====  MEDIA QUERIES  ===== >
!   =====                 =====                 ===== >
!
*/


@media (max-width: 1024px) {
    .store-item-desc {
        display: none;
    }
}


@media (max-width: 768px) {

    :root {
        --panelsFont: 12px;
    }

    .title {
        margin: .5em .2em .2em .2em;
        font-size: 16px;
    }

    .main-container {
        flex-direction: column-reverse;
    }

    .main-left, .main-right {
        width: 100%;
    }

    .navbar-container {
        padding: 0 0;
    }

    .navbar-right {
        display: none;
    }

    .navbar-burger {
        display: block;
    }

    .money-container {
        font-size: var(--panelsFont);
    }

    .store-item-img {
        width: 3em;
        margin-right: 2.5em;
    }

    .store-item-desc {
        display: flex;
    }

    .ship-item-img {
        width: 3em;
        margin-right: 1em;
    }

    .wheel-small-container {
        width: 300px;
        height: 300px;
    }

    .wheel-small-container .spinBtn  {
        width: 30px;
        height: 30px;
        font-size: 10px;
    }

    .planet-state {
        font-size: var(--panelsFont);
    }
    
    .planet-level {
        font-size: 20px;
    }

    .planet-img {
        width: 40%;
    }

    .advance-arrow-left, .advance-arrow-right {
        top: 35%;
    }

    .advance-arrow-left {
        left: 2%;
    }
    .advance-arrow-right {
        right: 2%;
    }
}


@media (max-width: 425px) {
    .store-item-desc {
        display: none;
    }

    .wheel-small-container {
        width: 200px;
        height: 200px;
    }
    
    .wheel-small-container .spinBtn  {
        width: 30px;
        height: 30px;
        font-size: 10px;
    }
    
    .wheel-small-container .spinBtn::before {
        width: 10px;
        height: 15px;
        top: -12px
    }
}